<!doctype html>
<html class="no-js" dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  
  {{#ownerName}}
  <title>{{ownerName}}</title>  
  <meta name="author" content="{{ownerName}}">
  {{/ownerName}}

  {{#ownerTitle}}
  <meta name="description" content="{{ownerTitle}}">  
  {{/ownerTitle}}

  <link href="/favicon.ico" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <link href="stylesheets/vcard.css" media="screen" rel="stylesheet" type="text/css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="javascripts/vcard.js"></script>

  <script>
    window.onload = function() {
      $('#content')
        .addClass('is-ready')
        .removeClass('is-loading');
    /mobile/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
        if (!pageYOffset) window.scrollTo(0, 1);
        }, 1000);
      }
      
      function createVcard() {
          var data = {
              ownerName: "Foo123954Bar",
              ownerEmail: "jw+test@heroku.com",
              ownerTitle: "",
              companyName: "",
              companyUrl: "",
              companyAddress: "",
              twitterUrl: "",
              facebookUrl: "",
              linkedinUrl: "",
              flickrUrl: "",
              vimeoUrl: "",
              dribbleUrl: "",
              pinterestUrl: "",
              githubUrl: ""
          };

          $.ajax({
              type: "POST",
              url: "/",
              data: JSON.stringify(data),
              dataType: "json",
              contentType: "application/json",
              success: function(data) {
                  console.log("resp : ", data);
              },
              error: function(error) {
                  console.log("err : ", error);
              }
          });
      }
      
      $(function() {
          createVcard();
      });
  </script>
</head>

<body>

<!-- Form to create your own card -->
<div id="content-form">
  <div class="card">
    <section>
      <form action="https://cloudforce-share.herokuapp.com/share" method="post">
        <% if ENV["APP_NAME"] %>
        <input type="hidden" name="APP_NAME" value="<%= ENV["APP_NAME"] %>"/>  
        <% end %>
        <% if ENV["PARENT_APP_NAME"] %>
        <input type="hidden" name="PARENT_APP_NAME" value="<%= ENV["PARENT_APP_NAME"] %>"/>  
        <% end %>
        
        <fieldset class="contact">
          <legend>contact</legend>
          <aside>
            <div data-icon="&#x2b13;" class="avatar iconb"></div>
            <p>avatar is provided by <a href="http://gravatar.com">gravatar</a></p>
          </aside>
          <p><label for="OWNER_NAME" class="icon-user"></label><input name="OWNER_NAME" placeholder="full name"/></p>
          <p><label for="OWNER_TITLE"></label><input name="OWNER_TITLE" placeholder="title/bio"/></p>
          <p><label for="OWNER_EMAIL"></label><input name="OWNER_EMAIL" placeholder="email" required/></p>
          <p><label for="COMPANY_NAME"></label><input name="COMPANY_NAME" placeholder="company name"/></p>
          <p><label for="COMPANY_URL"></label><input name="COMPANY_URL" placeholder="company url"/></p>
          <p><label for="COMPANY_ADDRESS"></label><textarea name="COMPANY_ADDRESS" placeholder="company address" rows="3" cols="40"></textarea></p>
        </fieldset>
        <fieldset class="social">
          <legend>social</legend>
          <p><label for="TWITTER_URL" class="icon-twitter"></label><input name="TWITTER_URL" placeholder="twitter username"/></p>
          <p><label for="FACEBOOK_URL" class="icon-facebook"></label><input name="FACEBOOK_URL" placeholder="facebook username"/></p>
          <p><label for="LINKEDIN_URL" class="icon-linkedin"></label><input name="LINKEDIN_URL" placeholder="linkedin username"/></p>
          <p><label for="FLICKR_URL" class="icon-flickr"></label><input name="FLICKR_URL" placeholder="flickr username"/></p>
          <p><label for="VIMEO_URL" class="icon-vimeo"></label><input name="VIMEO_URL" placeholder="vimeo username"/></p>
          <p><label for="DRIBBLE_URL" class="icon-dribbble"></label><input name="DRIBBLE_URL" placeholder="dribbble username"/></p>
          <p><label for="PINTEREST_URL" class="icon-pinterest"></label><input name="PINTEREST_URL" placeholder="pinterest username"/></p>
          <p><label for="GITHUB_URL" class="icon-github"></label><input name="GITHUB_URL" placeholder="github username"/></p>
        </fieldset>
        <fieldset class="submit">
          <button type="submit" data-icon="&#x2191;" class="iconb">Deploy vCard to Heroku</button>
          <span>or <a class="cancel" href="/cancel">Cancel</a></span>
        </fieldset>
      </form>
    </section>
  </div>
</div>

<div id="content" class="is-loading">
  <div class="card">
    <section class="front">  
      <header>
      <% if ENV["OWNER_EMAIL"] %>         
        <aside style="background-image:url('http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(ENV["OWNER_EMAIL"].gsub(/\s+/, "").downcase) %>?s=220');"></aside>  
      <% end %>      
      <hgroup>
        <% if ENV["OWNER_NAME"] %>
          <h1><%= ENV["OWNER_NAME"] %></h1>  
        <% end %>
        <% if ENV["OWNER_TITLE"] %>
          <h2><%= ENV["OWNER_TITLE"] %></h2>  
        <% end %>
      </hgroup>
      </header>    
    </section>

    <section class="back">
      <div class="container">
        <header>
          <% if ENV["OWNER_EMAIL"] %>
            <aside style="background-image:url('http://www.gravatar.com/avatar/<%= Digest::MD5.hexdigest(ENV["OWNER_EMAIL"].gsub(/\s+/, "").downcase) %>?s=54');"></aside>  
          <% end %>
          
          <hgroup>
            <% if ENV["OWNER_NAME"] %>
              <h1><%= ENV["OWNER_NAME"] %></h1>  
            <% end %>
            <% if ENV["OWNER_TITLE"] %>
              <h2><%= ENV["OWNER_TITLE"] %></h2>  
            <% end %>
          </hgroup>
        </header>

        <% if ENV["OWNER_EMAIL"] %>
        <dl>
          <dt>Email</dt>
          <dd>
            <script type="text/javascript">
              document.write("<n uers=\"znvygb:<%= ENV["OWNER_EMAIL"] %>\" ery=\"absbyybj\"><%= Rot13.new(ENV["OWNER_EMAIL"], 3) %></n>".replace(/[a-zA-Z]/g,
                  function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
            </script>
          </dd>
        </dl>
        <% end %>
        <dl>
          <dt>Work</dt>
          <dd>
            <% if ENV["COMPANY_URL"] && ENV["COMPANY_NAME"] %>
              <a href="<%= ENV["COMPANY_URL"] %>"><%= ENV["COMPANY_NAME"] %></a><br>  
            <% end %>
            <% if ENV["COMPANY_URL"] && ENV["COMPANY_NAME"] %>
              <%= ENV["COMPANY_NAME"] %><br>
            <% end %>
            <% if ENV["COMPANY_ADDRESS"] %>
               <%= nl2br(ENV["COMPANY_ADDRESS"]) %> 
            <% end %>
          </dd>
        </dl>

        <dl class="social">
          <dt>Social</dt>
          <dd>
            <% if ENV["TWITTER_URL"] %>
              <a class="icon-twitter" href="http://twitter.com/<%= ENV["TWITTER_URL"] %>" title="twitter"></a>  
            <% end %>
            <% if ENV["FACEBOOK_URL"] %>
              <a class="icon-facebook" href="http://facebook.com/<%= ENV["FACEBOOK_URL"] %>" title="facebook"></a>  
            <% end %>
            <% if ENV["FLICKR_URL"] %>
              <a class="icon-flickr" href="http://flickr.com/<%= ENV["FACEBOOK_URL"] %>" title="flickr"></a>  
            <% end %>
            <% if ENV["VIMEO_URL"] %>
              <a class="icon-vimeo" href="http://vimeo.com/<%= ENV["VIMEO_URL"] %>" title="vimeo"></a>  
            <% end %>
            <% if ENV["GITHUB_URL"] %>
              <a class="icon-github" href="http://github.com/<%= ENV["GITHUB_URL"] %>" title="github"></a>  
            <% end %>
            <% if ENV["DRIBBLE_URL"] %>
              <a class="icon-dribbble" href="http://dribbble.com/<%= ENV["DRIBBLE_URL"] %>" title="dribbble"></a>  
            <% end %>
            <% if ENV["PINTEREST_URL"] %>
              <a class="icon-pinterest" href="http://pinterest.com/<%= ENV["PINTEREST_URL"] %>" title="pinterest"></a>  
            <% end %>
            <% if ENV["LINKEDIN_URL"] %>
              <a class="icon-linkedin" href="http://linkedin.com/in/<%= ENV["LINKEDIN_URL"] %>" title="linkedin"></a>  
            <% end %>
          </dd>
        </dl>
      </div>
    </section>
  </div>
</div>

<div id="make">
  <section>
    <p class="left"><a href="http://www.heroku.com" class="icon-heroku"></a></p>
    <p class="right"><a class="button silver" href="#" id="make-card">create your card</a> <span>and deploy instantly</span></p>
  </section>
</div>

<!-- google analytics -->
<script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
  try{
    var pageTracker = _gat._getTracker("UA-2989055-1");
    pageTracker._setDomainName(".heroku.com");
    pageTracker._trackPageview();
  } catch(err) {}
</script>
</body>
</html>
